<script>
	var data = <%= @reports.to_json %>;
	console.log(data);
</script>

<script>
  $(function() {
    $( "#progressbar" ).progressbar({
      value: 13
    });
  });
</script>

<!-- Central content -->
		<div class = "row">
			<div class="col-sm-12 text-center">
				<h1>Fix My City!</h1>
				<p><h3>
					Found an issue with your local environment?
					<br>Tell us and we'll fix it today.
				</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-4 console">
				<h4 class="consoleTitle">Open incidents:</h4>
				<h5>
					<script>

					</script>

				</h5>
				<div id="progressbar" class="progressbar"></div>
			</div>
			<div class="col-sm-4 console">
				<h4 class="consoleTitle">Current status:</h4>
				<h4>5 <span class="open-text">open</span> incidents</h4>
				<h4>350 <span class="resolved-text">resolved</span> incidents</h4>
			</div>
			<div class="col-sm-4 console">
				<h4 class="consoleTitle">Average time to resolve:</h4>
				<h2>36 hours</h2>
			</div>
		</div>
		<hr>


				
			<div class="row">
				<div class="col-sm-8">

					<table name="overview_table" class="table table-hover table-bordered" id="table1">
					  <tr class="active">
					    <th>Time/Date</th>
					    <th>Location</th>
					    <th>Type</th>
					    <th>Status</th>
					    <th>Open image</th>
					  </tr>

					  <script>
					  for (var i = 0; i < 5; i++) {
					  	document.write("<tr class='clickableRow' id='" + data[i].id + "'>");
					  	document.write("<td>"+ data[i].created_at + "</td>");
					  	document.write("<td>" + data[i].entity_type + "</td>");
					  	document.write("<td>" + data[i].entity_description + "</td>");
					  	document.write("<td><span class='open-text'>" + data[i].status + "</td>");
					  	document.write("<td><a href='#'' class='btn btn-primary'><i class='fa fa-file-image-o'></i></a></td>");
					  	document.write("</tr>");
					  }
					  </script>

					  
					</table>

					
				</div>
				<div class="col-sm-4">
					<div class="images" id="images"></div>
				</div>
		</div>

		<div class="row">
			<div class="col-sm-12">

				<div id="map" style="height: 400px; margin-top: 20px; margin-bottom: 20px;"></div>
				
			</div>
		</div>

	<!-- Leaflet script -->
	<script>
		var map = L.map('map').setView([51.505, -0.09], 13);
		L.tileLayer('http://{s}.tiles.mapbox.com/v3/melatonind.iofl09ec/{z}/{x}/{y}.png', {
		    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		    maxZoom: 18
		}).addTo(map);
		
		// define markers
		var busstop = L.icon({
		    iconUrl: 'images/markers/busstop.png',
		    iconSize:     [32, 37], // size of the icon
		});

		var park = L.icon({
		    iconUrl: 'images/markers/urbanpark.png',
		    iconSize:     [32, 37], // size of the icon
		});

		var trainstation = L.icon({
		    iconUrl: 'images/markers/playground.png',
		    iconSize:     [32, 37], // size of the icon
		});

		// create markers from data set

		for (var i = 0; i < data.length; i++) {

		 	var type;
			if (data[i].entity_type === "Train Station") {
				type = trainstation;
			} else if (data[i].entity_type === "Bus Stop") {
				type = busstop;
			} else if (data[i].entity_type === "Park") {
				type = park;
			} else {
				type = playground;
			}
			L.marker([data[i].latitude, data[i].longitude], {icon: type }).addTo(map);
			console.log(type);
		}



		jQuery(document).ready(function($) {
			// Clickable row ability
			$(".clickableRow").click(function() {
				
				var i = $(this).attr("id");
				i -= 1;

				// pan to location
				map.setView(new L.LatLng(data[i].latitude, data[i].longitude), 13);

				// append image
				var imgUrl = "images/img/" + data[i].photo_url;
				$(".images").html("<a href=" + imgUrl + " data-lightbox='image' data-title=" + data[i].description + "><center><img src='" + imgUrl + "' alt=" + data[i].description + " class='img-responsive'/></center></a><p><h5>Description:</h5>" + data[i].description + "</p>");
			});

	       // Automatically click on first column
	       $('#2').trigger('click');
		});
		</script>