<script>var data = <%= @reports.to_json %>;
		console.log(data);</script>

<!-- Central content -->
	<div class="container">
		<div class = "row">
			<div class="col-sm-12">
				<h1>Overview</h1>
			</div>
				<div class="col-sm-8">
					<div class="overview_table"></div>

					<table class="table table-bordered table-hover" name="overview_table">
					  <tr class="active">
					    <th>Time/Date</th>
					    <th>Location</th>
					    <th>Type</th>
					    <th>Status</th>
					    <th>Open image</th>
					  </tr>

					  <% @reports.each do |report| %>
  						<tr class="clickableRow" id="<%= report.id %>">
 						<td><%= report.created_at %></td>
					    <td>Bus way</td>
					    <td>Bus stop</td>
					    <td><%= report.status %></td>
					    <td><a href="#" class="btn btn-primary"><i class="fa fa-file-image-o"></i></a></td>
					</tr>
						<% end %>
					</table>

					
				</div>
				<div class="col-sm-4">
					<center><div class="images"></div></center>
				</div>
		</div>

		<div class="row">
			<div class="col-sm-12">

				<div id="map" style="height: 400px; margin-top: 20px; margin-bottom: 20px;"></div>
				
			</div>
		</div>
	</div>

	<!-- Leaflet script -->
	<script>
		


		var map = L.map('map').setView([51.505, -0.09], 13);
		L.tileLayer('http://{s}.tiles.mapbox.com/v3/melatonind.iofl09ec/{z}/{x}/{y}.png', {
		    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		    maxZoom: 18
		}).addTo(map);
		
		// define markers
		var busstop = L.icon({
		    iconUrl: 'images/markers/busstop.png',

		    iconSize:     [32, 37], // size of the icon
		    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
		    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
		});

		var park = L.icon({
		    iconUrl: 'images/markers/urbanpark.png',

		    iconSize:     [32, 37], // size of the icon
		    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
		    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
		});

		// create markers from data set 
		 for (var i = 0; i < data.length; i++) {
			L.marker([data[i].latitude, data[i].longitude], {icon: busstop}).addTo(map);
		}



		jQuery(document).ready(function($) {
			// Clickable row ability
			$(".clickableRow").click(function() {
				var i = $(this).attr("id");
				i -= 1;

				// pan to location
				console.log(data[i].latitude);
				map.panTo(new L.LatLng(data[i].latitude, data[i].longitude), 13);

				// append image
				var imgUrl = "images/img/images.jpg";
				$(".images").html("<img src='" + imgUrl + "' alt='description' class='img-responsive'/>");
			});

	       // Automatically click on first column
	       $('.clickableRow').trigger('click');
		});
		</script>