<!DOCTYPE html>
<html>
  <head>
    <title>Fix My City</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
 
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<script src="js/bootstrap.min.js" /></script>

	<!-- Maps -->
	 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

	<!-- Others -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet"> <!-- for custom css -->

	<!-- Lightbox-->
	<script src="js/lightbox.min.js"></script>
	<link href="css/lightbox.css" rel="stylesheet" />
	
	<!-- Font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<!-- Navbar -->

	<nav class="navbar navbar-default white" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Fix My City</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Overview</a></li>
		<!--<li class="active"><a href="#">Overview</a></li> -->
        <li><a href="/report">Report</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Right links here if needed -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- End nav bar -->

<!-- Central content -->
	<div class="container">

      <%= yield %>

	</div>
	
<div class="footer panel-footer">
	<div class="text-center">
		<p>Fix My City</p>
	</div>
</div>

</body>
	<script>
	var images = ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg', 'image5.jpg'];
	$('body').css({'background-image': 'url(images/background-images/' + images[Math.floor(Math.random() * images.length)] + ')'});
	console.log(images);
	</script>
</html>