


 
    


<form id="form1" action="/report" method="POST" enctype="multipart/form-data" runat="server">

	<input name="file" type="file" accept="image/*" capture="camera" id="imgInp">
  
	<div class= "row align-center">
			<div class ="col-md-6 col-md-offset-3">
			<img id="blah" src="#" alt="your image"  class="img-responsive thumbnail"/>
			</div>
		<hr>
	</div>
  
  

  

<h3 class="c"> Problem Category </h3>
<select class="form-control">
  <option>Park</option>
  <option>Train Station</option>
  <option>Bus Stop</option>
</select>


<input class="hidden" type="text" name="latitude" />
<input  class="hidden" type="text" name="longitude"/>
<input  class="hidden" type="text" name="accuracy"/>

<h3 class="c"> Describe the Problem </h3>
<hr>
<textarea class="form-control" rows="3"></textarea>
<br>
<div class="row align-center">
	<div class ="col-md-12">
		<button type="submit" class="btn btn-default btn-lg">Submit</button>
	</div>
</div>
<script>

getLocation(showPosition);

		function getLocation(c) {
		    if (navigator.geolocation) {
		        navigator.geolocation.getCurrentPosition(c, null, { enableHighAccuracy: true });
		    } else { 
		        x.innerHTML = "Geolocation is not supported by this browser.";
		    }
		}

		function showPosition(position) {
		    console.log("Latitude: " + position.coords.latitude);
		    console.log("Longitude: " + position.coords.longitude);
		}
		
		function populateInputs(geo) {
$('input[name="latitude"]').val(geo.coords.latitude);
$('input[name="longitude"]').val(geo.coords.longitude);
$('input[name="accuracy"]').val(geo.coords.accuracy);
}
	
getLocation(populateInputs)	



    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#imgInp").change(function(){
        readURL(this);
    });
</script>


</form>

