

 <style media="screen">
            body {
                overflow: hidden;
                height: 100%;
                margin: 0;
                padding: 0;
				opacity: .4;
				filter: alpha(opacity=40);
            }

            img {
                /*width: 100%;
                height: 100%; */
            }
			
			#background {
			position:absolute;
			z-index: -10000;
			}
        </style>
 
<form id="form1" action="/report" method="POST" enctype="multipart/form-data" runat="server">

	<div class= "row align-center">
			<div class ="col-md-6 col-md-offset-3">
			<img id="blah" src="/images/img/blank_image.jpg" alt="your image"  class="img-responsive thumbnail"/>
			<input name="file" type="file" accept="image/*" capture="camera" id="imgInp">
			</div>
		<hr>
	</div>
  

            <script>
            function run() {
                var image = document.getElementById('background');
                image.onload = function() {
                    var engine = new RainyDay({
                        image: this
                    });
                    engine.rain([ [1, 2, 8000] ]);
                    engine.rain([ [3, 3, 0.88], [5, 5, 0.9], [6, 2, 1] ], 100);
                };
                image.crossOrigin = 'anonymous';
                image.src = 'http://i.imgur.com/N7ETzFO.jpg';
            }
        </script>
      
    </head>
   
    

	

  

<h3 class="c"> Problem Category </h3>
<select class="form-control">
  <option>Park</option>
  <option>Train Station</option>
  <option>Bus Stop</option>
</select>


<input class="hidden" type="text" name="latitude" />
<input  class="hidden" type="text" name="longitude"/>
<input  class="hidden" type="text" name="accuracy"/>

<h3 class="c"> Describe the Problem </h3>
<hr>
<textarea class="form-control" rows="3"></textarea>
<br>
<div class="row align-center">
	<div class ="col-md-12">
		<button type="submit" class="btn btn-default btn-lg">Submit</button>
	</div>
</div>
<script>

getLocation(showPosition);

		function getLocation(c) {
		    if (navigator.geolocation) {
		        navigator.geolocation.getCurrentPosition(c, null, { enableHighAccuracy: true });
		    } else { 
		        x.innerHTML = "Geolocation is not supported by this browser.";
		    }
		}

		function showPosition(position) {
		    console.log("Latitude: " + position.coords.latitude);
		    console.log("Longitude: " + position.coords.longitude);
		}
		
		function populateInputs(geo) {
$('input[name="latitude"]').val(geo.coords.latitude);
$('input[name="longitude"]').val(geo.coords.longitude);
$('input[name="accuracy"]').val(geo.coords.accuracy);
}
	
getLocation(populateInputs)	

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
				
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#imgInp").change(function(){
        readURL(this);
    });
</script>


</form>

