<div class="c">
<!-- received image from http://upload.wikimedia.org/wikipedia/commons/e/ee/Brisbane_CBDandSB.jpg . The author of this image is Stuart Edwards and 
there is a GNU Free Documentation License, version 1.2 on its use
-->
<img src="fixmycity/public/images/img/Brisbane.jpg" alt="picture of Brisbane" class="img-responsive thumbnail" /> 
<h1> Thank you for helping us fix our city! </h1>
</div>