/* aligns something horizontally into the center */
.c {text-align:center;
margin-left:auto;
margin-right:auto;
}
/* hides stuff */
.hidden {visibility:hidden;}

/* lightblue color gradient used on the navbar */
.lightblue {
background: #00b7ea; /* Old browsers */
background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
opacity: 0.6;
filter: alpha(opacity=60);
color:white;
}

.lightblue:hover, .lightblue:active{
background: #00b7ea; /* Old browsers */
background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
opacity: 1.0;
filter: alpha(opacity=100);
color:white;
}



#bs-example-navbar-collapse-1 ul.nav.navbar-nav li.active {
background: #00b7ea; /* Old browsers */
background: -moz-linear-gradient(top, #009ec3  0%, #00b7ea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009ec3 ), color-stop(100%,#00b7ea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #009ec3  0%,#00b7ea100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #009ec3  0%,#00b7ea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #009ec3  0%,#00b7ea 100%); /* IE10+ */
background: linear-gradient(to bottom, #009ec3  0%,#00b7ea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ec3 ', endColorstr='#00b7ea',GradientType=0 ); /* IE6-9 */
}

.white {
color:black;
opacity: 1.0;
filter: alpha(opacity=100);
}


#table1 {
opacity: 1.0;
filter: alpha(opacity=100);
background-color:white;
}

#table1:hover {
opacity: 1.0;
filter: alpha(opacity=100);
cursor:pointer;
background-color:white;
}

#table1:hover {
opacity: 1.0;
filter: alpha(opacity=100);
cursor:pointer;
background-color:white;
}

body{
background-size:100%;                     
background-repeat: no-repeat;}

.clickableRow {
background-color:white;
opacity: 1.0;
filter: alpha(opacity=100);

}

#blah {width:100%;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
}
h1 {
	font-size: 80px;
	margin-bottom: 50px;
}

.consoleTitle {
	font-weight: bold;
}

.console {
	height:100px;
}

.progressbar{
	background-image: none;
}

.open-text {
	color: #ffcc00;
}

.resolved-text {
	color: #00cc00;
}

.container {
	background: rgb(255, 255, 255); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(255, 255, 255, .8);
    border-radius: 15px;
}

.footer {
	margin-top: 50px;
}